  #first_container
  {
    
    font-size: 2px;
    width: 520px;
    height: 100%;
   
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2px;
    
   .disabledButton
   {
     width:50px;
    height: 50px; 
    background-color: white; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    .picture {
    width:44px;
    height: 44px;
    }
   }
  
   .activeButton {   
    width:50px;
    height: 50px; 
    background-color: grey;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
   
} }
  


