#dataOfField{
  color:white;
  font-weight: 400;
  font-size: 20px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  
  label {
  padding-bottom:10px;
  }
  #dropdown {
  width: 50px;
  height: 30px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  }
}

