@mixin flex(){ 
   display: flex;
   justify-content: center;
   align-items:center;
}

#firstPage {
 position: fixed;

.container {
    margin:-8px;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "headerForm"
      "mainForm";
    header {  
    background: #373f46;  
    grid-area: headerForm;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    padding-right: 10%;
 
    height:80px;
    color: white;
    font-weight: normal;
    font-size: 16px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;

    #nav1:hover {
          background-color: #57bff7;
    }
    #nav1 {
     @include flex();
    background: #32ACED;
    height: 35px;
    width: 80px;
    border-radius: 5px;       
    }
    #nav2:hover {
          background-color: #E0A950;
    }
    #nav2 {
    @include flex();
    background: #E0A905;
    height: 35px;
    width: 80px;
    border-radius: 5px;       
    }
  }
  

   main {
   grid-area: mainForm;
   background-color: #1D2733;
     @include flex();
    
   .box {
     display: flex;
     flex-direction: row;   
     min-width: 600px;
     width:60vw;
     height: 350px; 
     border-radius: 5px;
     #sec1 {
      border-radius: 5px 0 0 5px;
      background-color:  #384B5C;
      width:40%;
      height: 100%;
      font-family: "Roboto", Helvetica, Arial, sans-serif;
      font-size: 24px;
      color:white; 
       @include flex();
     .alert{
        @include flex();
        flex-direction: column;
      }   
     }
      #sec2 {
       border-radius: 0 5px 5px 0;
       background-color:  #262b30;
       width:60%;
       height: 100%;
   
.submit {
  width: 100%;
  height: 13%;
  border-radius: 0 0 5px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 1.5px;
  color: #FFFFFF;     
  }    
.opacity1 { opacity: 0.5; }
.opacity2 { opacity: 1; }

.color1 {  background: #32ACED;
  border: 1px solid #32ACED; }
.color2 {  background: #E0A905;
  border: 1px solid #E0A905; }


.ui-form {  
  height: 87%;
  width: 80%;
  margin-left:30px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
.form-row {
  margin-bottom: 40px;
  position: relative;
  input {
  display: block;
  width: 100%;
  line-height: 40px;
  font-family: 'Roboto', sans-serif;
  color:white;
  background: none;
  border-width: 0;
  border-bottom: 1px solid #9d959d;
  transition: all 0.2s ease;
}
 label {
  position: absolute;
  color: #9d959d;
  font-size: 20px;
  font-weight: 300;
  transform: translateY(-35px);
  transition: all 0.2s ease;
}
 input:focus {
  outline: 0;
  border-color: #32ACED;
}
 input:focus + label, 
 input:valid + label {
  transform: translateY(-60px);
  font-size: 16px;
  font-weight: 400;
  outline: 0; 
  color: #32ACED;  
}
}
}





     }
   }
}
  

}
}

