#secondPage {
 position: fixed;
 margin-left: -8px;
 margin-top: -8px;
.container {
    height: 100vh;
    width: 100vw;
    background: LightGray;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header  header header"
      "advert content empty"
      "advert footer empty";
    
    .header {
    background-color: #373f46;
    display: flex;
    justify-content: center;
    align-items:center;
    grid-area: header;
    height:80px;
    }
  
   

  .advert {
    background-color: #1D2733;
    grid-area: advert;
    min-width: 206px;
    width: 20vw;
  }
  
  .content {
  grid-area: content;
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: #1D2733;
  }
  
  .footer {
    background: #1D2733;
    grid-area: footer;
    height:100px;
  }  
  .empty {
     background-color: #1D2733;
    grid-area: empty;
    width:20vw;
  }
  }
 
}