$font: "Roboto", Helvetica, Arial, sans-serif;
@mixin flex(){ 
   display: flex;
   justify-content: center;
   align-items:center;
}

#headerPage {
    background-color:#373f46;
    height:80px;
    display: flex;
    justify-content: left;
    align-items:center;
  
.headerContainer
{
margin-left: 10px;
height: 60px; 
width: 85vw;
margin-left: 5vw;
background-color: #373f46;
display: grid;
grid-template-columns: auto 1fr;
grid-template-rows: 30px 30px;
grid-template-areas:
"wellcome navig"
"username navig";

.greeting1 {
    grid-area: wellcome;
    height:30px;
    @include flex();
}
.greeting2 {
    grid-area: username;
    height:30px;
    @include flex();
}

.navig {
    grid-area: navig;
    display: flex;
    justify-content: flex-end;
    align-items:center;
}

#nav1:hover { background-color: #57bff7; }
#nav1 {
    margin-right: 50px;
    background: #32ACED;
    height: 35px;
    width: 80px;
    border-radius: 5px;      
    color: white;
    font-weight: normal;
    font-size: 16px;
    font-family: $font;
    text-decoration: none;
    @include flex();
    }
#nav2:hover { background-color: #E0A950; }
#nav2 {
    margin-right: 50px;
    background: #E0A905;
    height: 35px;
    width: 80px;
    border-radius: 5px;      
    color: white;
    font-weight: normal;
    font-size: 16px;
    font-family: $font;
    text-decoration: none;
    @include flex();
    }    

   .text {  
	text-transform: uppercase;
    background: linear-gradient(to right, red 0%, yellow 100%);    
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    	font: {
		size: 24px;
        family: $font;
        weight: 400;
    }
}
}
}