.Center
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;  
  color:white;
  font-weight: 400;
  font-size: 20px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}